body {
    background-color: #f2f6ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 70px; /* space for fixed navbar */
}

h1, h2 {
    color: darkblue;
}

p {
    font-size: 16px;
    color: #333;
}

.highlight {
    background-color: #dff0d8;
    padding: 10px;
    border-radius: 6px;
}

#special-heading {
    color: crimson;
    text-transform: uppercase;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
    padding: 15px;
    z-index: 1000;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.main-content {
    position: relative;
    padding: 20px;
}

.important-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
}

.box-model {
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    margin: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.text-span {
    color: red;
    font-weight: bold;
}

.sticky {
    position: sticky;
    top: 80px;
    background-color: lightgray;
    padding: 8px;
}
