
.image-flex img,
.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.image-grid {
  display: grid;
  gap: 15px;
}

@media (max-width: 768px) {
  .iamge-flex img {
    flex: 0 0 100%;
  }
  .image-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image-flex img {
    flex: 0 0 48%;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .image-flex img {
    flex: 0 0 23%;
  }
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
